body{
    background-image:url('https://motarvi.com/php_security/registro/img/registro-nuevo.png');
    background-size: 100% 100%;
}
form{
    background:rgb(165, 241, 241);
}
.warning{
    background: rgba(229, 253, 13, 0.7);
    color: brown;
    border-radius: 30px;
    padding: 20px;
}
.danger{
    background: rgba(253, 13, 13, 0.7);
    color: rgb(14, 12, 12);
    border-radius: 30px;
    padding: 20px;
}
.exit{
    color: #ff9;
    background: forestgreen;
    border-radius: 30px;
    padding: 20px;
}